.btn-primary {
  color: white;
  border-radius: 2px;
}

.btn-secondary {
  color: white;
  border-radius: 2px;
}

.btn-primary {
  background-color: blue;
}

.btn-secondary {
  background-color: #26383B;
}

header {
  padding: 5px;
  text-align: center;
}

#header__h1 {
  font-size: 5rem;
  background-color: #9370d8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  height: 10rem;
  padding: 0.5rem;
}

#header__h1 a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.menu {
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0;
  height: 8rem;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu ul li {
  position: relative;
  top: 2.8rem;
  width: 16%;
  text-align: center;
}

.menu ul li a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

.menuInicio {
  font-size: 1.7rem;
}

.menuInicio img {
  background-color: #9370d8;
  position: relative;
  bottom: 2rem;
  right: 2.7rem;
  margin-bottom: 2rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.menuTierra {
  font-size: 1.7rem;
}

.menuTierra img {
  background-color: #9370d8;
  position: relative;
  bottom: 2.5rem;
  right: 3.46rem;
  margin-bottom: 1rem;
}

.menuProposito {
  font-size: 1.7rem;
}

.menuProposito img {
  background-color: #9370d8;
  border-radius: 50%;
  position: relative;
  bottom: 1.3rem;
  right: 4.2rem;
  margin-bottom: 3rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.menuContacto {
  font-size: 1.7rem;
}

.menuContacto img {
  background-color: #9370d8;
  border-color: black 1px;
  border-radius: 50%;
  position: relative;
  bottom: 2rem;
  right: 4.6rem;
  margin-bottom: 2rem;
}

.cuerpoIndex {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "seccion seccion seccion" "seccion2 seccion2 costado" "seccion3 seccion3 seccion3" "seccion4 seccion4 seccion4" "footer footer footer";
}

.cabeza {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.seccion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seccion;
}

.costado {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: costado;
  background-color: #ffffff;
}

.seccion2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: seccion2;
  text-align: center;
  background-color: #ffffff;
}

.seccion3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seccion3;
  text-align: center;
  margin: 0rem 0rem 1rem 0rem;
}

.seccion3 h3 {
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0rem 0rem 1rem 0rem;
}

.seccion3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.seccion4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seccion4;
  text-align: center;
}

#piePagina {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.h2Index {
  font-size: 2.5rem;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
  display: inline;
  color: #26383B;
  position: relative;
  bottom: 1rem;
}

#seccionUno {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.imgCarrusel {
  height: 60rem;
}

.costado {
  display: inline;
  text-align: center;
  height: 40rem;
  width: 50rem;
}

.titulos__lateral {
  color: #26383B;
  background-color: #9370d8;
  font-family: monospace;
  font-style: normal;
  font-size: 3rem;
  display: inline-block;
  padding: 1.5rem;
  width: 30rem;
}

.tit__amar {
  position: relative;
  top: 5.5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tit__amar:hover {
  height: 6.95rem;
  width: 32rem;
  background-color: #26383B;
  color: #9370d8;
}

.tit__cuidar {
  position: relative;
  top: 9.7rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tit__cuidar:hover {
  height: 6.95rem;
  width: 32rem;
  background-color: #26383B;
  color: #9370d8;
}

.tit__proteger {
  position: relative;
  top: 13.5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tit__proteger:hover {
  height: 6.95rem;
  width: 32rem;
  background-color: #26383B;
  color: #9370d8;
}

.seccion2__parrafo-ult {
  display: inline-block;
  width: 70%;
  text-align: center;
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  font-style: normal;
  position: relative;
  top: 8rem;
}

.seccion2__gif-index {
  margin: 5px 5px 10px 5px;
}

.contenedor-blog-uno {
  width: 50%;
  height: 25rem;
  background-color: #26383B;
  color: white;
  font-size: 4rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-uno:hover {
  color: #26383B;
  background-color: white;
}

.contenedor-blog-uno div {
  height: 100%;
}

.contenedor-blog-dos, .contenedor-blog-tres {
  width: 50%;
  height: 25rem;
  background-color: #26383B;
  color: white;
  font-size: 4rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-dos:hover, .contenedor-blog-tres:hover {
  color: #26383B;
  background-color: white;
}

.contenedor-blog-dos div, .contenedor-blog-tres div {
  height: 100%;
}

.contenedor-blog-tres {
  width: 50%;
  height: 25rem;
  background-color: #26383B;
  color: white;
  font-size: 4rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-tres:hover {
  color: #26383B;
  background-color: white;
}

.contenedor-blog-tres div {
  height: 100%;
}

.contenedor-blog-cuatro {
  width: 50%;
  height: 25rem;
  background-color: #26383B;
  color: white;
  font-size: 4rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-cuatro:hover {
  color: #26383B;
  background-color: white;
}

.contenedor-blog-cuatro div {
  height: 100%;
}

.contenedor-blog-dos, .contenedor-blog-tres {
  background-color: white;
  color: #000000;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-dos:hover, .contenedor-blog-tres:hover {
  color: white;
  background-color: #26383B;
}

.contenedor-blog-dos div, .contenedor-blog-tres div {
  height: 100%;
}

.grid-tierra {
      grid-template-areas: "header header header" "seccion seccion seccion" "articulo articulo articulo" "footer footer footer";
}

.cabeza-tierra {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.seccion__grid-parrafo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seccion;
}

.seccion__grid-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: articulo;
}

.footer__tierra {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.subtitulo__h2 {
  font-size: 2.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: #26383B;
  display: inline-block;
  position: relative;
  left: 2rem;
}

#articulo__parrafo-tierra {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  margin: 2rem 3rem 2rem 3rem;
  display: inline-block;
  text-align: center;
  word-spacing: 0.1rem;
}

#articulo__parrafo-tierra span {
  font-weight: bold;
}

.div__cuadro-blogs {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs {
  width: 100rem;
  height: 15rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 15px 0px 15px 0px;
}

.blogs:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.galeria {
  width: 100rem;
  height: 15rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 15px 0px 15px 0px;
}

.galeria:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.retos {
  width: 100rem;
  height: 15rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 15px 0px 15px 0px;
}

.retos:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.body__blogs-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header " "article article" "blogs aside" "footer footer ";
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 0fr 0.5fr 2fr 0fr;
      grid-template-rows: 0fr 0.5fr 2fr 0fr;
}

.body__blogs-grid > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.body__blogs-grid > footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.seccionBlogs {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: blogs;
}

.seccionBlogs > a > div {
  text-align: center;
  height: 15rem;
  font-size: 2rem;
  border: #000000 1px solid;
  margin: 10px 4px 10px 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.seccionBlogs > a > div:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.articulo__blogs-all {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: article;
  font-size: 2rem;
  margin: 10px 15px 10px 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#3e8d58), to(#1a8011));
  background-image: linear-gradient(to right, #3e8d58, #1a8011);
}

.aside__lateral-D {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: aside;
  background-color: #b262ca;
  margin: 10px 15px 10px 15px;
}

.blog-uno {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem 15rem 2rem 15rem;
}

.blog-uno h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

.blog-uno h3 {
  font-size: 2rem;
  margin: 1rem 0rem 1rem 0rem;
  font-weight: 600;
}

.blog-uno p {
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 0rem;
  text-align: justify;
}

.blog-dos {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem 15rem 2rem 15rem;
}

.blog-dos h2 {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

.blog-dos h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0rem 1rem 0rem;
}

.blog-dos p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1rem 0rem;
}

.titulo-descriptivo, .subtitulo-puntual {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0rem 1rem 0rem;
}

.subtitulo-puntual {
  text-align: left;
}

ol {
  font-size: 1.9rem;
  margin: 2rem 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol li {
  list-style: decimal;
}

.lista-desordenada {
  font-size: 1.5rem;
  margin: 2rem 2rem;
}

.lista-desordenada li {
  margin: 1rem 0rem;
  list-style: disc;
}

#bodyGaleria {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "articulo articulo" "section section" "footer footer";
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 0fr 0.5fr 2fr 0fr;
      grid-template-rows: 0fr 0.5fr 2fr 0fr;
}

#bodyGaleria header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

#bodyGaleria article {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: articulo;
  background-color: lightblue;
  margin: 5px 15px 5px 15px;
  font-size: 2.5rem;
  text-align: center;
}

#bodyGaleria footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.seccionGaleria {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccionGaleria > div {
  font-size: 1.5rem;
  text-align: center;
  width: 40rem;
  height: 30rem;
  margin: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.seccionGaleria > div:hover {
  width: 42rem;
  height: 32rem;
  font-size: 2rem;
}

.galeria__img {
  border: 1px solid #000000;
  width: 40rem;
  height: 30rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.galeria__img:hover {
  width: 42rem;
  height: 32rem;
}

.seccion__desafios {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desafio-1 {
  width: 30rem;
  height: 35rem;
  margin: 0px 10px 15px 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.desafio-1:hover {
  width: 32rem;
  height: 36rem;
}

.desafio-2 {
  width: 30rem;
  height: 35rem;
  margin: 0px 10px 15px 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.desafio-2:hover {
  width: 32rem;
  height: 36rem;
}

.desafio-3 {
  width: 30rem;
  height: 35rem;
  margin: 0px 10px 15px 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.desafio-3:hover {
  width: 32rem;
  height: 36rem;
}

.desafio-1 {
  border: 1px solid #000000;
}

.desafio-2 {
  border: 1px solid #000000;
}

.desafio-3 {
  border: 1px solid #000000;
}

.subtitulo__h2-proposito {
  display: inline;
  font-size: 2.5rem;
  margin: 0rem 0.5rem 0rem 0rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
  font-weight: bold;
  color: #26383B;
}

.articulo__parrafos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parrafo-azul, .parrafo-rosita, .parrafo-verde {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 1.5rem;
  padding: 0.5rem;
  width: 60rem;
  height: 16rem;
  background-color: lightblue;
  border-radius: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-transform: translate(10rem, 1rem);
          transform: translate(10rem, 1rem);
}

.parrafo-rosita {
  background-color: lightcoral;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translate(-10rem, 1rem);
          transform: translate(-10rem, 1rem);
}

.parrafo-verde {
  background-color: lightgreen;
}

.gridContacto {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "formulario formulario formulario" "footer footer footer";
}

.gridContacto > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.gridContacto > section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: formulario;
  padding: 10px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gridContacto > footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.subtitulo__contacto-principal {
  font-size: 2.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
  font-weight: bold;
  color: #26383B;
  display: inline-block;
}

.seccion__form-contacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9370d8), to(purple));
  background-image: linear-gradient(to bottom, #9370d8, purple);
  margin: 2rem 30rem 2rem 30rem;
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 1rem;
}

.seccion__form-contacto input {
  display: inline-block;
}

.seccion__form-contacto label {
  display: inline;
  font-size: 1.5rem;
}

.seccion__form-contacto select {
  font-size: 1.5rem;
}

#nombreApellido {
  font-size: 1.5rem;
}

.apellidoNombreLabel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#correoElectronico {
  position: relative;
  left: 0.5rem;
  border-style: solid;
  height: 2.5rem;
  width: 29.9rem;
  border-radius: 0.2rem;
}

.correoElectronicoLabel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#telefono {
  position: relative;
  left: 0.5rem;
  border-style: solid;
  height: 2.5rem;
  width: 29.9rem;
  border-radius: 0.2rem;
}

.telefonoLabel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#genero {
  border-style: solid;
  height: 3rem;
  width: 29.9rem;
  border-radius: 0.2rem;
}

.generoLabel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.especifiqueLabel {
  height: 1rem;
}

#resetear {
  position: relative;
  left: 6.5rem;
  top: 3.4rem;
  border-style: solid;
  width: 10rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 0.2rem;
  margin: 0.5rem 0.1rem 0.5rem 0rem;
}

#enviar {
  position: relative;
  left: 17rem;
  bottom: 1.1rem;
  border-style: solid;
  width: 8rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 0.2rem;
  margin: 0.5rem 0.1rem 0.5rem 0rem;
}

footer {
  background-color: #9370d8;
  height: 30rem;
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.footer__img {
  border-radius: 2rem;
  position: relative;
  top: 6rem;
}

.menu__footer {
  font-size: 1.5rem;
  display: inline;
  position: relative;
  left: 14.9rem;
  top: 2.2rem;
}

.menu__footer ul li {
  list-style-type: none;
  margin: 3px 0px 3px 0px;
}

.menu__footer ul li a {
  color: #5900ff;
  text-decoration: none;
}

.menu__footer ul li a:hover {
  color: #3e3efc;
}

.titulo-footer-nav {
  color: white;
  display: inline;
  position: relative;
  top: 2rem;
  left: 15rem;
  font-weight: bold;
}

.titulo-footer-int {
  color: white;
  display: inline;
  position: relative;
  left: 45rem;
  bottom: 11.4rem;
  font-weight: bold;
}

.menu__footer-segundo {
  width: auto;
  font-size: 1.5rem;
  position: relative;
  left: 45rem;
  bottom: 11rem;
}

.menu__footer-segundo ul li {
  list-style-type: none;
  margin: 3px 0px 3px 0px;
}

.menu__footer-segundo ul li a {
  color: #3c118d;
  text-decoration: none;
}

.menu__footer-segundo ul li a:hover {
  color: #3e3efc;
}

.img-footer-home {
  text-decoration: none;
  list-style-type: none;
}

.autor-derechos {
  background-color: gray;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2.5rem;
}

.contenedor-footer-uno {
  width: 15rem;
}

.contenedor-footer-dos {
  width: 15rem;
}

@media screen and (min-width: 440px) and (max-width: 768px) {
  .cuerpoIndex {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "seccion" "costado" "seccion2" "seccion3" "seccion4" "footer";
  }
  .cabeza {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .seccion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: seccion;
  }
  .costado {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: costado;
  }
  .seccion2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: seccion2;
  }
  #piePagina {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu ul li {
    width: 25%;
  }
  .h2Index {
    position: relative;
    left: 10rem;
  }
  #hr-separador {
    margin: 1rem 5rem;
  }
  #seccionUno {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 58rem;
    position: relative;
    left: 0rem;
  }
  .costado {
    -ms-grid-column-align: center;
        justify-self: center;
    top: 2rem;
    height: 37rem;
  }
  .seccion2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seccion2__parrafo-ult {
    font-size: 1.7rem;
    text-align: center;
    margin: 0rem 2rem 1rem 2rem;
    padding: 0;
  }
  .seccion2__gif-index {
    width: 70rem;
  }
  footer {
    height: 40rem;
  }
  .footer__img {
    left: 0;
    top: 7rem;
  }
  .titulo-footer-nav {
    height: 20%;
    left: 10rem;
    top: 3rem;
  }
  .titulo-footer-int {
    bottom: 10.249rem;
    left: 46rem;
  }
  .menu__footer {
    height: 25%;
    left: 10rem;
    top: 4rem;
  }
  .menu__footer-segundo {
    left: 46rem;
    bottom: 9rem;
  }
  .autor-derechos {
    position: relative;
    top: 10rem;
  }
  .grid-tierra {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "seccion" "articulo" "footer";
  }
  .cabeza-tierra {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .cabeza-tierra .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cabeza-tierra .menu ul li {
    width: 25%;
  }
  .seccion__grid-parrafo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: seccion;
  }
  .seccion__grid-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: articulo;
  }
  .footer__tierra {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .blogs {
    width: 70rem;
  }
  .galeria {
    width: 70rem;
  }
  .retos {
    width: 70rem;
  }
  .grid-proposito {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "seccion" "footer";
  }
  .grid-proposito header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .grid-proposito footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .seccion_proposito-unica {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: seccion;
  }
  .parrafo-azul, .parrafo-rosita, .parrafo-verde, .parrafo-rosita, .parrafo-verde {
    width: 35rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .cuerpoIndex {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "seccion seccion" "seccion2 costado" "seccion3 seccion3" "seccion4 seccion4" "footer footer";
  }
  .cabeza {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  .seccion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion;
  }
  .costado {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: costado;
  }
  .seccion2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: seccion2;
  }
  .seccion3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion3;
  }
  .seccion4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion4;
  }
  #piePagina {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  .grid-tierra {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "seccion seccion" "articulo articulo" "footer footer";
  }
  .cabeza-tierra {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  .cabeza-tierra .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cabeza-tierra .menu ul li {
    width: 25%;
  }
  .seccion__grid-parrafo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion;
  }
  .seccion__grid-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: articulo;
  }
  .footer__tierra {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
}

@media screen and (min-width: 993px) and (max-width: 1300px) {
  .cuerpoIndex {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "seccion seccion seccion" "seccion2 seccion2 costado" "seccion3 seccion3 seccion3" "seccion4 seccion4 seccion4" "footer footer footer";
  }
  .cabeza {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  .seccion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion;
  }
  .costado {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: costado;
  }
  .seccion2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion2;
  }
  .seccion3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: seccion3;
  }
  .seccion4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: seccion4;
  }
  #piePagina {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  .grid-tierra {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "seccion seccion header" "articulo articulo articulo" "footer footer footer";
  }
  .cabeza-tierra {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  .cabeza-tierra .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cabeza-tierra .menu ul li {
    width: 25%;
  }
  .seccion__grid-parrafo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion;
  }
  .seccion__grid-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: articulo;
  }
  .footer__tierra {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: white;
}

#hr-separador {
  height: 1px;
  width: 90%;
  margin: 1rem 6rem;
  opacity: 0.25;
  background-color: #26383B;
}
/*# sourceMappingURL=style.css.map */