.btn-primary {
  color: white;
  border-radius: 2px;
}

.btn-secondary {
  color: white;
  border-radius: 2px;
}

.btn-primary {
  background-color: blue;
}

.btn-secondary {
  background-color: #26383B;
}

header {
  padding: 5px;
  text-align: center;
}

#header__h1 {
  font-size: 5rem;
  background-color: #9370d8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  height: 10rem;
  padding: 0.5rem;
}

#header__h1 a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

nav {
  margin: 1rem 0rem 4rem 0rem;
}

.menuInicio {
  font-size: 1.7rem;
  position: relative;
  top: 2.5rem;
  margin: 0rem 6rem;
  color: #26383B;
}

.menuInicio:hover {
  color: #26383B;
}

.menuInicio img {
  color: #9370d8;
  position: relative;
  bottom: 2.9rem;
  left: 3.3rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.menuTierra {
  font-size: 1.7rem;
  position: relative;
  top: 2.5rem;
  margin: 0rem 6rem;
  color: #26383B;
}

.menuTierra:hover {
  color: #26383B;
}

.menuTierra img {
  position: relative;
  bottom: 3rem;
  left: 4.3rem;
}

.menuProposito {
  font-size: 1.7rem;
  position: relative;
  top: 2.5rem;
  margin: 0rem 6rem;
  color: #26383B;
}

.menuProposito:hover {
  color: #26383B;
}

.menuProposito img {
  border-radius: 50%;
  position: relative;
  bottom: 2.9rem;
  left: 4.8rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.menuContacto {
  font-size: 1.7rem;
  position: relative;
  top: 2.5rem;
  margin: 0rem 6rem;
  color: #26383B;
}

.menuContacto:hover {
  color: #26383B;
}

.menuContacto img {
  position: relative;
  bottom: 3rem;
  left: 5.5rem;
}

.cuerpoIndex {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "seccion seccion seccion" "seccion2 seccion2 costado" "seccion3 seccion3 seccion3" "seccion4 seccion4 seccion4" "footer footer footer";
}

.cabeza {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.seccion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seccion;
}

.costado {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: costado;
  background-color: #ffffff;
}

.seccion2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: seccion2;
  text-align: center;
  background-color: #ffffff;
}

.seccion3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seccion3;
  text-align: center;
  margin: 0rem 0rem 1rem 0rem;
}

.seccion3 h3 {
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0rem 0rem 1rem 0rem;
}

.seccion3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.seccion4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seccion4;
  text-align: center;
}

#piePagina {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.h2Index {
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.2rem;
  border: 0.1px solid;
  border-radius: 1rem;
  color: #26383B;
  margin: 0rem 0rem 1rem 0rem;
  padding: 0rem 1rem;
  background-color: whitesmoke;
  display: inline-block;
}

#seccionUno {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.imgCarrusel {
  height: 60rem;
}

.costado {
  display: inline;
  text-align: center;
  height: 40rem;
  width: 50rem;
}

.titulos__lateral {
  color: #26383B;
  background-color: #9370d8;
  font-family: monospace;
  font-style: normal;
  font-size: 3rem;
  display: inline-block;
  padding: 1.5rem;
  width: 30rem;
}

.tit__amar {
  position: relative;
  top: 5.5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tit__amar:hover {
  height: 6.95rem;
  width: 32rem;
  background-color: #26383B;
  color: #9370d8;
}

.tit__cuidar {
  position: relative;
  top: 9.7rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tit__cuidar:hover {
  height: 6.95rem;
  width: 32rem;
  background-color: #26383B;
  color: #9370d8;
}

.tit__proteger {
  position: relative;
  top: 13.5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tit__proteger:hover {
  height: 6.95rem;
  width: 32rem;
  background-color: #26383B;
  color: #9370d8;
}

.seccion2__parrafo-ult {
  display: inline-block;
  width: 70%;
  text-align: center;
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  font-style: normal;
  position: relative;
  top: 8rem;
}

.seccion2__gif-index {
  margin: 5px 5px 10px 5px;
}

.contenedor-blog-uno {
  width: 50%;
  height: 25rem;
  background-color: #26383B;
  color: white;
  font-size: 4rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-uno:hover {
  color: #26383B;
  background-color: white;
}

.contenedor-blog-uno div {
  height: 100%;
}

.contenedor-blog-dos, .contenedor-blog-tres {
  width: 50%;
  height: 25rem;
  background-color: #26383B;
  color: white;
  font-size: 4rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-dos:hover, .contenedor-blog-tres:hover {
  color: #26383B;
  background-color: white;
}

.contenedor-blog-dos div, .contenedor-blog-tres div {
  height: 100%;
}

.contenedor-blog-tres {
  width: 50%;
  height: 25rem;
  background-color: #26383B;
  color: white;
  font-size: 4rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-tres:hover {
  color: #26383B;
  background-color: white;
}

.contenedor-blog-tres div {
  height: 100%;
}

.contenedor-blog-cuatro {
  width: 50%;
  height: 25rem;
  background-color: #26383B;
  color: white;
  font-size: 4rem;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-cuatro:hover {
  color: #26383B;
  background-color: white;
}

.contenedor-blog-cuatro div {
  height: 100%;
}

.contenedor-blog-dos, .contenedor-blog-tres {
  background-color: white;
  color: #000000;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

.contenedor-blog-dos:hover, .contenedor-blog-tres:hover {
  color: white;
  background-color: #26383B;
}

.contenedor-blog-dos div, .contenedor-blog-tres div {
  height: 100%;
}

.grid-tierra {
      grid-template-areas: "header header header" "seccion seccion seccion" "articulo articulo articulo" "footer footer footer";
}

.cabeza-tierra {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.seccion__grid-parrafo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seccion;
  text-align: center;
}

.seccion__grid-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: articulo;
}

.footer__tierra {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.subtitulo__h2 {
  font-size: 3rem;
  margin: 0rem 0.5rem;
  padding: 0rem 1rem 0rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.2rem;
  color: #26383B;
  background-color: whitesmoke;
  border: 0.1rem solid;
  border-radius: 1rem;
  display: inline-block;
}

#articulo__parrafo-tierra {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  margin: 2rem 3rem 2rem 3rem;
  display: inline-block;
  text-align: center;
  word-spacing: 0.1rem;
}

#articulo__parrafo-tierra span {
  font-weight: bold;
}

.div__cuadro-blogs {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div__cuadro-blogs a {
  width: 100rem;
  height: 15rem;
  background-color: #26383B;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
  margin: 1.5rem 0rem;
}

.div__cuadro-blogs a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: whitesmoke;
}

.div__cuadro-blogs a div {
  font-family: monospace;
  font-size: 5rem;
  color: white;
  height: 15rem;
  letter-spacing: 0.4rem;
}

.div__cuadro-blogs a div:hover {
  color: #000000;
}

.body__blogs-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header " "article article" "blogs blogs" "footer footer ";
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 0fr 0.5fr 2fr 0fr;
      grid-template-rows: 0fr 0.5fr 2fr 0fr;
}

.body__blogs-grid > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.body__blogs-grid > footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.seccionBlogs {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: blogs;
  text-align: center;
}

.seccionBlogs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccionBlogs div a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.1rem;
  height: 15rem;
  font-size: 3.5rem;
  margin: 1rem 15rem;
  background-color: whitesmoke;
  text-decoration: none;
  color: #26383B;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.seccionBlogs div a img {
  height: 0rem;
  bottom: 10rem;
  background-color: whitesmoke;
  border-radius: 10rem;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.seccionBlogs div a div {
  height: 100%;
}

.para-izquierda img {
  position: relative;
  left: 70rem;
}

.para-izquierda:hover {
  -webkit-transform: translate(-12rem, 0rem);
          transform: translate(-12rem, 0rem);
  letter-spacing: 0.2rem;
  background-color: #9370d8;
  color: white;
}

.para-izquierda:hover img {
  height: 5rem;
}

.para-derecha img {
  position: relative;
  right: 70rem;
}

.para-derecha:hover {
  -webkit-transform: translate(12rem, 0rem);
          transform: translate(12rem, 0rem);
  letter-spacing: 0.2rem;
  background-color: #9370d8;
  color: white;
}

.para-derecha:hover img {
  height: 5rem;
}

.articulo__blogs-all {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: article;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 5rem;
}

.articulo__blogs-all p {
  font-size: 2.5rem;
  color: #9370d8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100rem;
  border-radius: 1rem;
  padding: 2rem 2rem;
  background-color: rgba(245, 245, 245, 0.349);
}

.blog-uno {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem 15rem 2rem 15rem;
}

.blog-uno h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

.blog-uno h3 {
  font-size: 2rem;
  margin: 1rem 0rem 1rem 0rem;
  font-weight: 600;
}

.blog-uno p {
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 0rem;
  text-align: justify;
}

.blog-dos {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem 15rem 2rem 15rem;
}

.blog-dos h2 {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

.blog-dos h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0rem 1rem 0rem;
}

.blog-dos p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1rem 0rem;
}

.titulo-descriptivo, .subtitulo-puntual {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0rem 1rem 0rem;
}

.subtitulo-puntual {
  text-align: left;
}

ol {
  font-size: 1.9rem;
  margin: 2rem 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol li {
  list-style: decimal;
}

.lista-desordenada {
  font-size: 1.5rem;
  margin: 2rem 2rem;
}

.lista-desordenada li {
  margin: 1rem 0rem;
  list-style: disc;
}

.blog-tres {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem 15rem 2rem;
  font-size: 1.5rem;
  text-align: justify;
}

.blog-tres h2 {
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 2rem 0rem;
}

.blog-tres h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0rem;
}

.blog-tres p {
  margin: 1rem 0rem;
  text-align: justify;
}

.aproved {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: green;
}

.blog-cuatro {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem 15rem 2rem;
  word-spacing: 0.1rem;
}

.blog-cuatro h2 {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

.blog-cuatro h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0rem 1rem 0rem;
}

.blog-cuatro p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1rem 0rem;
}

.blog-cuatro span {
  font-weight: bold;
  font-size: 1.5rem;
}

.blog-cuatro a {
  text-decoration: none;
  color: #a7a7a7;
}

.blog-cuatro a:hover {
  color: #26383B;
}

ul {
  font-size: 1.5rem;
  margin: 2rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  list-style: inside;
  margin: 1rem 0rem;
}

.footer-del-blog {
  text-align: center;
}

.footer-del-blog h4 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 10rem;
}

#bodyGaleria {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "articulo articulo" "section section" "footer footer";
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 0fr 0.5fr 2fr 0fr;
      grid-template-rows: 0fr 0.5fr 2fr 0fr;
}

#bodyGaleria header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

#bodyGaleria article {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: articulo;
  background-color: lightblue;
  margin: 5px 15px 5px 15px;
  font-size: 2.5rem;
  text-align: center;
}

#bodyGaleria footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.seccionGaleria {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccionGaleria div {
  font-size: 1.5rem;
  text-align: center;
  width: 40rem;
  height: 30rem;
  margin: 2rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.seccionGaleria div:hover {
  font-size: 2rem;
}

.galeria__img {
  width: 40rem;
  height: 30rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.galeria__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.seccion__desafios {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desafio-1 {
  width: 30rem;
  height: 35rem;
  margin: 0px 10px 15px 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.desafio-1:hover {
  width: 32rem;
  height: 36rem;
}

.desafio-2 {
  width: 30rem;
  height: 35rem;
  margin: 0px 10px 15px 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.desafio-2:hover {
  width: 32rem;
  height: 36rem;
}

.desafio-3 {
  width: 30rem;
  height: 35rem;
  margin: 0px 10px 15px 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.desafio-3:hover {
  width: 32rem;
  height: 36rem;
}

.desafio-1 {
  border: 1px solid #000000;
}

.desafio-2 {
  border: 1px solid #000000;
}

.desafio-3 {
  border: 1px solid #000000;
}

.subtitulo__h2-proposito {
  font-size: 3rem;
  background-color: whitesmoke;
  display: inline-block;
  margin: 0rem 0rem 3rem;
  padding: 0rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #26383B;
  border: 0.1rem solid;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  -webkit-transform: translate(15rem, 5rem);
          transform: translate(15rem, 5rem);
}

.articulo__parrafos section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parrafo-gris, .parrafo-violeta {
  font-size: 2rem;
  color: white;
  margin: 1rem 7rem;
  padding: 0.5rem;
  width: 60rem;
  height: 20rem;
  background-color: #26383B;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
}

.parrafo-gris p, .parrafo-violeta p {
  height: 100%;
  margin: 2rem 2rem;
}

.parrafo-violeta {
  background-color: #9370d8;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.gridContacto {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "descripcion descripcion descripcion" "formulario formulario formulario" "footer footer footer";
}

.gridContacto header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.gridContacto article {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: descripcion;
  text-align: center;
}

.gridContacto section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: formulario;
  padding: 10px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gridContacto footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.subtitulo__contacto-principal {
  font-size: 3rem;
  margin: 0rem 0.5rem;
  padding: 0rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: whitesmoke;
  border: 0.1rem solid;
  border-radius: 1rem;
  color: #26383B;
  text-align: center;
  display: inline-block;
}

#descripcion-contacto {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  -webkit-transform: translate(0rem, 3.5rem);
          transform: translate(0rem, 3.5rem);
}

.seccion__form-contacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#26383B), to(#9370d8));
  background-image: linear-gradient(to bottom, #26383B, #9370d8);
  margin: 0rem 30rem 2rem 30rem;
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 1rem;
}

.seccion__form-contacto input {
  display: inline-block;
}

.seccion__form-contacto label {
  display: inline;
  font-size: 1.5rem;
}

.seccion__form-contacto select {
  font-size: 1.5rem;
}

#nombreApellido {
  font-size: 1.5rem;
}

.apellidoNombreLabel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#correoElectronico {
  position: relative;
  left: 0.5rem;
  border-style: solid;
  height: 2.5rem;
  width: 29.9rem;
  border-radius: 0.2rem;
}

.correoElectronicoLabel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#telefono {
  position: relative;
  left: 0.5rem;
  border-style: solid;
  height: 2.5rem;
  width: 29.9rem;
  border-radius: 0.2rem;
}

.telefonoLabel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#genero {
  border-style: solid;
  height: 3.6rem;
  width: 29.9rem;
  border-radius: 0.2rem;
}

.generoLabel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.especifiqueLabel {
  height: 1rem;
}

#resetear {
  position: relative;
  left: 6.5rem;
  top: 3.4rem;
  border-style: solid;
  width: 10rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 0.2rem;
  margin: 0.5rem 0.1rem 0.5rem 0rem;
}

#enviar {
  position: relative;
  left: 17rem;
  bottom: 1.1rem;
  border-style: solid;
  width: 8rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 0.2rem;
  margin: 0.5rem 0.1rem 0.5rem 0rem;
}

footer {
  background-color: #9370d8;
  text-align: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.footer__img {
  border-radius: 2rem;
  position: relative;
  top: 6rem;
}

.menu__footer {
  font-size: 1.5rem;
  display: inline;
}

.menu__footer ul {
  margin-top: 1rem;
}

.menu__footer ul li {
  list-style-type: none;
  margin: 3px 0px 3px 0px;
}

.menu__footer ul li a {
  color: #5900ff;
  text-decoration: none;
}

.menu__footer ul li a:hover {
  color: #3e3efc;
}

.titulo-footer-nav {
  color: white;
  display: inline;
  font-weight: bold;
}

.titulo-footer-int {
  color: white;
  display: inline;
  font-weight: bold;
}

.menu__footer-segundo {
  width: auto;
  font-size: 1.5rem;
}

.menu__footer-segundo ul li {
  list-style-type: none;
  margin: 3px 0px 3px 0px;
}

.menu__footer-segundo ul li a {
  color: #5900ff;
  text-decoration: none;
}

.menu__footer-segundo ul li a:hover {
  color: #3e3efc;
}

.img-footer-home {
  text-decoration: none;
  list-style-type: none;
}

.autor-derechos {
  background-color: gray;
  font-size: 1.4rem;
  font-weight: bold;
  height: 2.5rem;
}

.contenedor-footer-uno {
  width: 15rem;
}

.contenedor-footer-dos {
  width: 15rem;
}

.contenedor-footer-uno {
  position: relative;
  top: 1.7rem;
  left: 10rem;
}

.contenedor-footer-dos {
  position: relative;
  bottom: 12rem;
  left: 35rem;
}

.contenedor-footer-tres {
  position: relative;
  bottom: 15rem;
}

.redes-sociales_footer a {
  margin: 0rem 0.4rem;
  border-radius: 0.5rem;
  background-color: #26383B;
}

.redes-sociales_footer a:hover {
  background-color: blue;
}

@media screen and (min-width: 440px) and (max-width: 768px) {
  .cuerpoIndex {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "seccion" "costado" "seccion2" "seccion3" "seccion4" "footer";
  }
  .cabeza {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .seccion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: seccion;
  }
  .costado {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: costado;
  }
  .seccion2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: seccion2;
  }
  #piePagina {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .menuInicio img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menuTierra img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menuProposito img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menuContacto img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .h2Index {
    position: relative;
    left: 10rem;
  }
  #hr-separador {
    margin: 1rem 5rem;
  }
  #seccionUno {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 58rem;
    position: relative;
    left: 0rem;
  }
  .costado {
    -ms-grid-column-align: center;
        justify-self: center;
    top: 2rem;
    height: 37rem;
  }
  .seccion2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seccion2__parrafo-ult {
    font-size: 1.7rem;
    text-align: center;
    margin: 0rem 2rem 1rem 2rem;
    padding: 0;
  }
  .seccion2__gif-index {
    width: 70rem;
  }
  footer {
    height: 40rem;
  }
  .footer__img {
    left: 0;
    top: 7rem;
  }
  .titulo-footer-nav {
    height: 20%;
    left: 10rem;
    top: 3rem;
  }
  .titulo-footer-int {
    bottom: 10.249rem;
    left: 46rem;
  }
  .menu__footer {
    height: 25%;
    left: 10rem;
    top: 4rem;
  }
  .menu__footer-segundo {
    left: 46rem;
    bottom: 9rem;
  }
  .autor-derechos {
    position: relative;
    top: 10rem;
  }
  .grid-tierra {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "seccion" "articulo" "footer";
  }
  .cabeza-tierra {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .cabeza-tierra .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cabeza-tierra .menu ul li {
    width: 25%;
  }
  .seccion__grid-parrafo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: seccion;
  }
  .seccion__grid-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: articulo;
  }
  .footer__tierra {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .blogs {
    width: 70rem;
  }
  .galeria {
    width: 70rem;
  }
  .retos {
    width: 70rem;
  }
  .grid-proposito {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "seccion" "footer";
  }
  .grid-proposito header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .grid-proposito footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .articulos__parrafos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: seccion;
  }
  .parrafo-azul, .parrafo-rosita, .parrafo-verde {
    width: 35rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .cuerpoIndex {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "seccion seccion" "seccion2 costado" "seccion3 seccion3" "seccion4 seccion4" "footer footer";
  }
  .cabeza {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  .seccion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion;
  }
  .costado {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: costado;
  }
  .seccion2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: seccion2;
  }
  .seccion3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion3;
  }
  .seccion4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion4;
  }
  #piePagina {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  .grid-tierra {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "seccion seccion" "articulo articulo" "footer footer";
  }
  .cabeza-tierra {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  .seccion__grid-parrafo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion;
  }
  .seccion__grid-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: articulo;
  }
  .footer__tierra {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  .menuInicio img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menuTierra img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menuProposito img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menuContacto img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media screen and (min-width: 993px) and (max-width: 1300px) {
  .cuerpoIndex {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "seccion seccion seccion" "seccion2 seccion2 costado" "seccion3 seccion3 seccion3" "seccion4 seccion4 seccion4" "footer footer footer";
  }
  .cabeza {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  .seccion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion;
  }
  .costado {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: costado;
  }
  .seccion2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion2;
  }
  .seccion3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: seccion3;
  }
  .seccion4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: seccion4;
  }
  #piePagina {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  .grid-tierra {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "seccion seccion header" "articulo articulo articulo" "footer footer footer";
  }
  .cabeza-tierra {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  .cabeza-tierra .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cabeza-tierra .menu ul li {
    width: 25%;
  }
  .seccion__grid-parrafo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seccion;
  }
  .seccion__grid-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: articulo;
  }
  .footer__tierra {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: white;
}

#hr-separador {
  height: 1px;
  width: 90%;
  margin: 1rem 6rem;
  opacity: 0.25;
  background-color: #26383B;
}
/*# sourceMappingURL=style.css.map */