footer{ 
    background-color: $violeta;
    // height: 30rem;
    text-align: center;
    grid-area: footer;
}

.footer__img{
    border-radius: 2rem;
    position: relative;
    top: 6rem;
}



.menu__footer{
    font-size: 1.5rem;
    display: inline;
    // position: relative;
    // left: 14.9rem;
    // top: 2.2rem;
    ul{
        margin-top: 1rem;
        li{
            list-style-type: none;
            margin: 3px 0px 3px 0px;
            a{
                color: rgb(89, 0, 255);
                text-decoration: none;
                &:hover{
                    color: rgb(62, 62, 252);
                }
            }
        }
    }
}

.titulo-footer-nav{
    color: white;
    display: inline;
    // position: relative;
    // top: 2rem;
    // left: 15rem;
    font-weight: bold;
}
.titulo-footer-int{
    color: white;
    display: inline;
    // position: relative;
    // left: 45rem;
    // bottom: 11.4rem;
    font-weight: bold;
}

.menu__footer-segundo{
    width: auto;
    font-size: 1.5rem;
    ul{
        li{
            list-style-type: none;
            margin: 3px 0px 3px 0px;
            a{
                color: rgb(89, 0, 255);
                text-decoration: none;
                &:hover{
                    color: rgb(62, 62, 252);
                }
            }
        }
    }
}

.img-footer-home{
    text-decoration: none;
    list-style-type: none;
}

.autor-derechos{
    background-color: gray;
    font-size: 1.4rem;
    font-weight: bold;
    height: 2.5rem;
    // position: relative;
    // bottom: 6.2rem;
}

@each $contenedor in contenedor-footer-uno, contenedor-footer-dos{
    .#{$contenedor}{
        width: 15rem;
    }
}

.contenedor-footer-uno{
    position: relative;
    top: 1.7rem;
    left: 10rem;
}

.contenedor-footer-dos{
    position: relative;
    bottom: 12rem;
    left: 35rem;
}

.contenedor-footer-tres{
    position: relative;
    bottom: 15rem;
}

.redes-sociales_footer{
    a{
        margin: 0rem 0.4rem;
        border-radius: 0.5rem;
        background-color: $gris;
        &:hover{
            background-color: blue;
        }
        
    }
}