footer{ 
    background-color: $violeta;
    text-align: center;
    grid-area: footer;
}

.footer__img{
    border-radius: 2rem;
    position: relative;
    top: 6rem;
}



.menu__footer{
    font-size: 1.5rem;
    display: inline;
    ul{
        margin-top: 1rem;
        li{
            list-style-type: none;
            margin: 3px 0px 3px 0px;
            a{
                color: rgb(89, 0, 255);
                text-decoration: none;
                &:hover{
                    color: rgb(62, 62, 252);
                }
            }
        }
    }
}

.titulo-footer-nav{
    display: inline;
    font-weight: bold;
}
.titulo-footer-int{
    display: inline;
    font-weight: bold;
}

.menu__footer-segundo{
    width: auto;
    font-size: 1.5rem;
    ul{
        li{
            list-style-type: none;
            margin: 3px 0px 3px 0px;
            a{
                color: rgb(89, 0, 255);
                text-decoration: none;
                &:hover{
                    color: rgb(62, 62, 252);
                }
            }
        }
    }
}

.img-footer-home{
    text-decoration: none;
    list-style-type: none;
}

.autor-derechos{
    background-color: gray;
    font-size: 1.4rem;
    font-weight: bold;
    height: 2.5rem;
}

@each $contenedor in contenedor-footer-uno, contenedor-footer-dos{
    .#{$contenedor}{
        width: 15rem;
    }
}

.contenedor-footer-uno{
    position: relative;
    top: 1.7rem;
    left: 10rem;
}

.contenedor-footer-dos{
    position: relative;
    bottom: 12rem;
    left: 35rem;
}

.contenedor-footer-tres{
    position: relative;
    bottom: 28rem;
    left: 11.45rem;
    display: inline-block;
}

.contenedor-footer-cuatro{
    position: relative;
    bottom: 24.79rem;
    left: 35rem;
    display: inline-block;
    h3{
        font-weight: bold;
    }
}
.lista-blogs{
    ul{
        li{
            list-style-type: none;  
            a{
                text-decoration: none;
                color: rgb(89, 0, 255);
                &:hover{
                    color: rgb(62, 62, 252);
                }
            }
        }
    }
}

.redes-sociales_footer{
    a{
        margin: 0rem 0.4rem;
        border-radius: 0.5rem;
    }
}