header{
    padding: 5px;
    text-align: center;
}
#header__h1{
    font-size: 5rem;
    background-color: $violeta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 10rem;
    padding: 0.5rem;
    a{
        list-style-type: none;
        text-decoration: none;
        color: black;
    }
}