@media screen and (min-width: 480px) and (max-width: 768px){
    
    //////        INICIO/HOME 
    
    .cuerpoIndex{
            display: grid;
            grid-template-areas:"header"
                                "seccion"
                                "costado"
                                "seccion2"
                                "footer";
        }
        .cabeza{
            grid-area: header;;
        }
        .seccion{
            grid-area: seccion;
        }
        .costado{
            grid-area: costado;
        }
        .seccion2{
            grid-area: seccion2;
        }
        #piePagina{
            grid-area: footer;
        }

// fin del grid


    .menu{
        ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            li{
                width: 25%;
            }
        }
    }
    
    .h2Index{
        position: relative;
        left: 10rem;
    }
    #hrSeparador{
        margin: 1rem 5rem;
    }
    #seccionUno{
        justify-self: center;
        width: 58rem;
        position: relative;
        left: 0rem;
    }
    .costado{
        justify-self: center;
        top: 2rem;
        height: 37rem;
    }   
    .seccion2{
        justify-content: center;
    }
    .seccion2__parrafo-ult{
        font-size: 1.7rem;
        text-align: center;
        margin: 0rem 2rem 1rem 2rem;
        padding: 0;
    }
    .seccion2__gif-index{
        width: 70rem;
    }

////// FIN INICIO/HOME

    footer{
        height: 40rem;
    }

    .footer__img{
        left: 0;
        top: 7rem;
    }

    .titulo-footer-nav{
        height: 20%;
        left: 10rem;
        top: 3rem;
    }

    .titulo-footer-int{
        bottom: 10.249rem;
        left: 46rem;
        
    }
    .menu__footer{
        height: 25%;
        left: 10rem;
        top: 4rem;
    }
    .menu__footer-segundo{
        left: 46rem;
        bottom: 9rem;
    }

    .autor-derechos{
        position: relative;
        top: 10rem;
    }

////// TIERRA

    .grid-tierra{
        display: grid;
        grid-template-areas: "header"
                            "seccion"
                            "articulo"
                            "footer";
        }
        .cabeza-tierra{
            grid-area: header;
            .menu{
                ul{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    li{
                        width: 25%;
                    }
                }
            }
        }
        .seccion__grid-parrafo{
            grid-area: seccion;
        }
        .seccion__grid-img{
            grid-area: articulo;
        }
        .footer__tierra{
            grid-area: footer; 
        }

        .blogs{
            width: 70rem;
        }
        .galeria{
            width: 70rem;
        }
        .retos{
            width: 70rem;
        }

///////PROPOSITO

.grid-proposito{
    display: grid;
    grid-template-areas: "header"
    "seccion"
    "footer";
    header{
        grid-area: header;
    }
    footer{
        grid-area: footer;
    }
}
.seccion_proposito-unica{
    grid-area: seccion;
}

.parrafo-azul, .parrafo-rosita, .parrafo-verde{
    width: 35rem;
}




}


@media screen and (min-width: 769px) and (max-width: 992px) {
    .cuerpoIndex{
        display: grid;
        grid-template-areas:"header header header"
                            "seccion seccion costado"
                            "seccion2 seccion2 seccion2"
                            "footer footer footer";
    }
    .cabeza{
        grid-area: header;
    }
    .seccion{
        grid-area: seccion;
    }
    .costado{
        grid-area: costado;
    }
    .seccion2{
        grid-area: seccion2;
    }
    #piePagina{
        grid-area: footer;
    }

    .grid-tierra{
        display: grid;
        grid-template-areas: "header header"
                            "seccion seccion"
                            "articulo articulo"
                            "footer footer";
        }
        .cabeza-tierra{
            grid-area: header;
            .menu{
                ul{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    li{
                        width: 25%;
                    }
                }
            }
        }
        .seccion__grid-parrafo{
            grid-area: seccion;
        }
        .seccion__grid-img{
            grid-area: articulo;
        }
        .footer__tierra{
            grid-area: footer; 
        }




}

@media screen and (min-width:993px) and (max-width: 1200px){
    .cuerpoIndex{
        display: grid;
        grid-template-areas:"header header header"
                            "seccion seccion costado"
                            "seccion2 seccion2 seccion2"
                            "footer footer footer";
    }
    .cabeza{
        grid-area: header;
    }
    .seccion{
        grid-area: seccion;
    }
    .costado{
        grid-area: costado;
    }
    .seccion2{
        grid-area: seccion2;
    }
    #piePagina{
        grid-area: footer;
    }



    .grid-tierra{
        display: grid;
        grid-template-areas: "header header header"
                            "seccion seccion header"
                            "articulo articulo articulo"
                            "footer footer footer";
        }
        .cabeza-tierra{
            grid-area: header;
            .menu{
                ul{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    li{
                        width: 25%;
                    }
                }
            }
        }
        .seccion__grid-parrafo{
            grid-area: seccion;
        }
        .seccion__grid-img{
            grid-area: articulo;
        }
        .footer__tierra{
            grid-area: footer; 
        }



}