//VARIABLES
$medida-ancho: 30rem;
$medida-largo: 30rem;
$celestito-fondo: #e0ffff;
$violeta: #9370d8;
$gris: #26383B;
$negro: #000000;

$rojo-bordo: #812007;
$gris-nuevo:#b2bbc0;
$verde-claro: #4c7d24;
$verde-oscuro: #19472b;
$crema: #fff6ab;

@import "piso-bootstrap";
@import "header";
@import "menunav";
@import "pags/index";
@import "pags/tierra";
@import "pags/subpags/blogs";
@import "pags/subpags/blogspot/problemas-con-el-plastico";
@import "pags/subpags/blogspot/el-cambio-es-ahora";
@import "pags/subpags/blogspot/ley-educacion-ambiental";
@import "pags/subpags/galeria";
@import "pags/subpags/desafios";
@import "pags/proposito";
@import "pags/contacto";
@import "footer";
@import "mediaquarry";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    background-color: white;
}

#hr-separador{
    height: 1px;
    width: 90%;
    margin: 1rem 6rem;
    opacity: 0.25;
    background-color: $gris;
}



