.cuerpoIndex{
    display: grid;
    grid-template-areas:"header header header"
                        "seccion seccion seccion"
                        "seccion2 seccion2 costado"
                        "seccion3 seccion3 seccion3"
                        "footer footer footer";
}
.cabeza{
    grid-area: header;
}
.seccion{
    grid-area: seccion;
}
.costado{
    grid-area: costado;
    background-color: #ffffff;
}
.seccion2{
    grid-area: seccion2;
    text-align: center;
    background-color: #ffffff;
}
.seccion3{
    grid-area: seccion3;
    text-align: center;
}
#piePagina{
    grid-area: footer;
}

.h2Index{
    font-size: 2.5rem;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    display: inline;
    color: $gris;
    position: relative;
    bottom: 1rem;
}

#seccionUno{
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.imgCarrusel{
    height: ($medida-largo)+30rem;
}

.costado{
    display: inline;
    text-align: center;
    height: ($medida-largo)+10rem;
    width: ($medida-ancho)+20rem;
}

.titulos__lateral{
    color: #26383B;
    background-color: $violeta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-style: normal;
    font-size: 3rem;
    display: inline-block;
    padding: 1.5rem;
    width: $medida-ancho;
}

.tit__amar{
    position: relative;
    top: 5.5rem;
    transition: all 1s;
    &:hover{
        height: 6.95rem;
        width: ($medida-ancho)+2rem;
    }
}
.tit__cuidar{
    position: relative;
    top: 9.7rem;
    transition: all 1s;
    &:hover{
        height: 6.95rem;
        width: ($medida-ancho)+2rem;
    }
}
.tit__proteger{
    position: relative;
    top: 13.5rem ;
    transition: all 1s;
    &:hover{
        height: 6.95rem;
        width: ($medida-ancho)+2rem;
    }
}

.seccion2__parrafo-ult{
    display: inline-block;
    width: 70%;
    // background-color: #977fcf80;
    text-align: center;
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2rem;
    font-style:normal;
    position: relative;
    top: 8rem;
}
.seccion2__gif-index{
    margin: 5px 5px 10px 5px;
}
