.grid-tierra{
    grid-template-areas: "header header header"
                        "seccion seccion seccion"
                        "articulo articulo articulo"
                        "footer footer footer";
}
.cabeza-tierra{
    grid-area: header;
}
.seccion__grid-parrafo{
    grid-area: seccion;
    text-align: center;
}
.seccion__grid-img{
    grid-area: articulo;
}
.footer__tierra{
    grid-area: footer;
}


.subtitulo__h2{
    font-size: 3rem;
    margin: 0rem 0.5rem;
    padding: 0rem 1rem 0rem 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.2rem;
    color: $gris;
    background-color: rgb(245, 245, 245);
    border: 0.1rem solid;
    border-radius: 1rem;
    display: inline-block;
}

#articulo__parrafo-tierra{
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2rem 10rem;
    display: inline-block;
    text-align: center;
    word-spacing: 0.1rem;
    span{
        font-weight: bold;
    }
}

.div__cuadro-blogs{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a{
        width: ($medida-ancho*3)+10rem;
        height: $medida-largo/2;
        background-color: $gris;
        transition: all 1s;
        text-decoration: none;
        margin: 1.5rem 0rem;
        &:hover{
            transform: scale(1.05);
            background-color: rgb(245, 245, 245);
        }
        div{
            font-family: monospace;
            font-size: 5rem;
            color: white;
            height: 15rem;
            letter-spacing: 0.4rem;
            &:hover{
                color: $negro;
            }
        }
    }
}

